{% extends 'main/base.html'%}

{% block body %}
{% load static %}
<div class="main main-raised">
        <div class="section section-basic">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                            <form action="{% url 'main:activityadd' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group bmd-form-group">
                                            <label for="Activity" class="bmd-label-floating">Activity</label>
                                            <input type="text" class="form-control" id="Activity" name="activity_name">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                            <label for="Theme" class="bmd-label-floating">Theme</label>
                                            <input type="text" class="form-control" id="Theme" name="theme_name">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                            <label for="Description" class="bmd-label-floating">Description</label>
                                            <input type="text" class="form-control" id="Description" name="description">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                            <label for="mentor" class="bmd-label-floating">Mentor</label>
                                            <input type="text" class="form-control" id="mentor" name="mentor">
                                    </div>
                                    <input type="submit" value="Update and Save" class="btn btn-primary btn-round">
                            </form>
                    </div>
                </div>
                    
            </div>
        </div>
</div>
{% endblock %}