
{% extends 'main/base.html'%}

{% block body %}
{% load static %}
<div class="main main-raised">
        <div class="section section-basic">
            <div class="container">
                <div class="row">
                            <form action="{% url 'main:addassessment' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group bmd-form-group">
                                            <label for="name" class="bmd-label-floating">Student name</label>
                                            <input type="text" class="form-control" id="name" name="student_name">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                            <label for="parentsname" class="bmd-label-floating">Mentor Name</label>
                                            <input type="text" class="form-control" id="parentsname" name="mentor">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                            <label for="phone" class="bmd-label-floating">Assessment</label>
                                            <input type="number" class="form-control" id="phone" name="assess_name">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                            <label for="standard" class="bmd-label-floating">Date</label>
                                            <input type="text" class="form-control" id="standard" name="assess_date">
                                    </div>
                                    <div class="form-group bmd-form-group">
                                            <label for="address" class="bmd-label-floating">Score/Rating</label>
                                            <input type="text" class="form-control" id="address" name="assess_level">
                                    </div>
                                    <input type="submit" value="Update and Save" class="btn btn-primary btn-round">
                            </form>
                </div>
                    
            </div>
        </div>
</div>
{% endblock %}