{% extend 'main/base.html'%}
{% block body %}
{%load static %}
<!-- This is the JQuery Dependency
 --> <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Latest compiled and minified JavaScript -->

<!-- This is the script for Bootstrap
 --> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
 $( function() {
   $( "#datepicker" ).datepicker();
 } );
  </script>

  <div class="container" style="margin-top: 60px;">

  <form method="POST" action="result.html">
<p class="navbar-left">Date: <input type="text" name="date" id="datepicker"></p>
<br>
<br>
  <label>Subject</label>
  <br>
  <textarea name="subject"></textarea>
  <br>
  <label>Theme</label>
  <br>
  <textarea name="theme"></textarea>
  <br>
  <label>Description</label>
  <br>
  <textarea name="Description"></textarea>
  <br>
  <br>
  <input type="Submit" name="Submit">
  </form>

</div>
{%endblock%}



