{% extends 'main/base.html'%}

{% block body %}
{% load static %}


<div class="main main-raised">
    <div class="section section-basic">
        <div class="container">
                <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Present/Absent</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for i in attendance %}
                                    <tr class="studentDetails">
                                      <th scope="row">{{i.student_id}}</th>
                                      <td id="studentName1">{{i.attendance_date}}</td>
                                      <td id="studentAddress1">{{i.present}}</td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                        </tbody>
                      </table>
                   
                </div>
    </div>
</div>
</div>
</div>
{% endblock %}