<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <title>Student Details</title>
</head>
<body>
    <div class="stud-container container-fluid">
            <div class="details">
                <table class="table table-hover">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Course</th>
                            <th scope="col">Parent</th>
                            <th scope="col">Phone</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% if stud %}
                                {% for i in stud %}
                                    <tr id="studentDetails_{{ forloop.counter }}">
                                    <th scope="row">{{ i.student_id }}</th>
                                    <td id="studentName">{{ i.student_name }}</td>
                                    <td id="studentAddress">{{ i.address }}</td>
                                    <td id="studentCourse">Beginner</td>
                                    <td id="studentParent">{{ i.parent_name }}</td>
                                    <td id="studentPhone">{{ i.phone_no }}</td>

                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                 <!--   {% for i in list %}
                        <tr class="studentDetails">
                            <th scope="row">1</th>
                            <td id="studentName">Mark</td>
                            <td id="studentAddress">Otto</td>
                            <td id="studentAge">6</td>
                            <td id="studentCourse">Beginner</td>
                            <td id="studentParent">Delaney</td>
                            <td id="studentPhone">0123456789</td>

                          </tr>
                        {% endfor %}
                      </table>


                    <table class="table table-hover">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Age</th>
                            <th scope="col">Course</th>
                            <th scope="col">Parent</th>
                            <th scope="col">Phone</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="studentDetails">
                            <th scope="row">1</th>
                            <td id="studentName">Mark</td>
                            <td id="studentAddress">Otto</td>
                            <td id="studentAge">6</td>
                            <td id="studentCourse">Beginner</td>
                            <td id="studentParent">Delaney</td>
                            <td id="studentPhone">0123456789</td>

                          </tr>
                          <tr class="studentDetails">
                                <th scope="row">1</th>
                                <td id="studentName">Jax</td>
                                <td id="studentAddress">Otto</td>
                                <td id="studentAge">6</td>
                                <td id="studentCourse">Beginner</td>
                                <td id="studentParent">Delaney</td>
                                <td id="studentPhone">0123456789</td>

                              </tr>
                              <tr class="studentDetails">
                                    <th scope="row">1</th>
                                    <td id="studentName">Tony</td>
                                    <td id="studentAddress">Otto</td>
                                    <td id="studentAge">6</td>
                                    <td id="studentCourse">Beginner</td>
                                    <td id="studentParent">Delaney</td>
                                    <td id="studentPhone">0123456789</td>

                                  </tr>
                        </tbody>-->
                      </table>
                      <div class="row">
                          <div class="col-md-6" id="updateForm" style="display: none;">
                                <form action="" method="post">
                                        <div class="form-group">
                                            <label >Name</label>
                                            <input type="text" class="form-control" id="name"
                                             placeholder="Enter name" required>
                                        </div>
                                        <div class="form-group">
                                            <label >Address</label>
                                            <input type="text" class="form-control" id="address"
                                             placeholder="Enter address" required>
                                        </div>
                                        <div class="form-group">
                                            <label >Parent's Name</label>
                                            <input type="text" class="form-control" id="parent"
                                             placeholder="Enter parent's name" required>
                                        </div>
                                        <div class="form-group">
                                            <label >Phone Number</label>
                                            <input type="tel" pattern=[0-9]{10} class="form-control" id="phone"
                                             placeholder="Enter phone number" required>
                                        </div>
                                        <div class="form-group">
                                                <label >Age</label>
                                                <input type="number" class="form-control" id="age"
                                                 placeholder="Enter age" required>
                                        </div>
                                        <div class="form-group">
                                                <label >Course Name</label>
                                                <input type="text" class="form-control" id="course"
                                                 placeholder="Enter course" required>
                                        </div>
                                        <!-- <div class="form-group">
                                                <label >Course</label>
                                                <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="beginner"
                                                            id="beginner" value="option"> Beginner
                                                        </label>
                                                </div>
                                                <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="beginner1"
                                                            id="beginner1" value="option1"> Beginner1
                                                        </label>
                                                </div>
                                        </div> -->

                                          <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                          </div>
                         <script>
                             $("#studentDetails").click(function(){
                                 $("#updateForm").show();
                                 var name = document.getElementById("studentName").innerHTML;
                                 var address = document.getElementById("studentAddress").innerHTML;
                                 var age = document.getElementById("studentAge").innerHTML;
                                 var course = document.getElementById("studentCourse").innerHTML;
                                 var parent = document.getElementById("studentParent").innerHTML;
                                 var phone = document.getElementById("studentPhone").innerHTML;
                                 document.getElementById("name").value=name;
                                 document.getElementById("address").value=address;
                                 document.getElementById("age").value=age;
                                 document.getElementById("course").value=course;
                                 document.getElementById("parent").value=parent;
                                 document.getElementById("phone").value=phone;

                             })
                         </script>

                          <!-- <div class="col-md-6" id="updateForm" style="display: none;">
                                <form action="" method="post">
                                        <div class="form-group">
                                                <label >Name</label>
                                                <input type="text" class="form-control" id="nameUpdate"
                                                 value="" required>
                                        </div>


                                </form>
                          </div> -->
                      </div>
                   
                </div>
    </div>
    

</body>
</html>