{% extends 'main/base.html'%}

{% block body %}
{% load static %}


<div class="main main-raised">
    <div class="section section-basic">
        <div class="container">
                <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Course</th>
                                    <th>Parent</th>
                                    <th>Phone</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for i in students %}
                                    <tr class="studentDetails">
                                      <th scope="row">{{i.student_id}}</th>
                                      <td id="studentName1">{{i.student_name}}</td>
                                      <td id="studentAddress1">{{i.address}}</td>
                                      <td id="studentAge1">English</td>
                                      <td id="studentCourse1">{{i.parent_name}}</td>
                                      <td id="studentParent1">{{i.phone_no}}</td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                        </tbody>
                      </table>
                   
                </div>
    </div>
    <div style="text-align: center"> 
        <input type="button" value="Add" class="btn btn-primary btn-round" onclick="document.location.href='{% url 'main:studentsform' %}';">

    </div></button></div>
</div>
</div>
</div>
{% endblock %}